* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

:root {
    --primary-black: #383C3E;
    --Grey_line: #737B7D;
    --Primeraly-Green: #008F17;
    --Input-text:#8e8e8eca;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
/*-----------Header Start-------------*/
header {
    width: 100%;
    height: 88px;
    background: #f7f7f7;
    justify-content: space-around;
    align-items: center;
}

.subHeader {
    display:flex;
    gap: 40px;
}

header img {
    width: 70px;
}

.subHeader a {
    text-decoration: none;
    color: var(--primary-black);
    font-size: 14;
    line-height: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.3s ease;
}

.subHeader a::after {
    transition: transform 0.3s ease;
}

.subHeader a:hover {
    color: var(--Primeraly-Green)
}

.subHeader a.active {
    border-bottom: 2px solid var(--Primeraly-Green);
    padding-bottom: 5px;

}
/*-----------Header End-------------*/

/*-----------Section start-------------*/

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 13rem;
}

/*-----------Section1 start-------------*/

.section1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.headerContent{
    margin-top: 60px;
    color:var(--primary-black);
    font-weight: 700;
    font-size:44px;
}
.subHeaderContent{
    margin:15px 0;
    color:var(--Grey_line);
    font-weight: 400;
    font-size:16px;
}
form {
    margin-top:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:40px;
}
.addDarkColor::placeholder{
    color:var(--primary-black)
}
form input,.section2 input{
    border:none;
    border-bottom:1px solid var(--Grey_line);
    padding-bottom:10px;
}

.towInputs{
    width:100%;
    display :grid;
    grid-template-columns: 2fr 1fr;
    gap:22px;
}
form input::placeholder,.section2 input::placeholder{
  padding-left:10px;
  color:var(--Input-text);
}
.upload-container{
    width: 100%;
}

.upload-box{
    padding:40px 16px;
    border: 1.5px dashed #BDBDBD;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: .3s;
}

.upload-box:hover{
    border-color: #0B8A5A;
    background: #fafafa;
}

.upload-box svg{
    font-size: 20px;
    stroke-width: 1.5;
    stroke:var(--Grey_line);
}

.upload-box span{
    font-size: 14px;
    color: var(--Input-text);
    font-weight: 400;
}

.upload-note{
    margin-top: 12px;
    font-weight: 400;
    font-size: 10px;
    color: var(--Input-text);
}

.section1 button{
    padding:16px;
    background-color:var(--Primeraly-Green);
    color:white;
    border:none;
    cursor: pointer;
    transition: .3s ease;
}
.section1 button:hover{
    box-shadow: 2px 2px 5px #0000005d;
}
.CheckBox{
    display:flex;
    gap:10px;
}
.CheckBox p{
    font-size:14px;
    font-weight: 400;
    color:var(--primary-black);
}
.CheckBox input[type="checkbox"] {
    accent-color: var(--Primeraly-Green);
}
/*-----------Section1 End-------------*/

/*-----------Section2 start-------------*/

.section2{
    display: flex;
    flex-direction: column;
    gap: 40px;
   margin-top:40vh;
}
.section2Container{
 flex-direction: column;
 gap:30px;
}

.section2TitleHeading{
    font-size: 16px;
    font-weight: 700;
    color:var(--primary-black);
}
.section2 p{
    font-size: 16px;
    font-weight: 400;
    color:var(--primary-black)
}

.Inquiries{
    gap:10px;
}
.Inquiries img{
    width:23px;
    height:16px;
}
.newsletter{
    gap:30px;
    align-items: center;
}
.section2 input{
    padding:16;
    width:262px;
}
.section2 span{
  background-color: var(--Primeraly-Green);
  width:71px;
  height:50px;
  display: flex;
 align-items: center;
 justify-content: center;
 
}
.newsletter svg{
font-size:18;
stroke: white;
}
/*-----------Section2 End-------------*/

/*-----------Section End-------------*/

/*-----------footer start-------------*/
footer{
    margin-top:40px;
}
/*-----------footer end-------------*/
